/frontend/node_modules
/frontend/node_modules/

/backend/node_modules
/backend/node_modules/


/frontend/.next/

.env*
/backend/backend/.env
/frontend/.env


/backend/backend/accounts/_pycache_/
/backend/backend/accounts/_pycache_

/backend/backend/backend/_pycache_/
/backend/backend/backend/_pycache_

